{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
<!--            <nav class="navbar navbar-dark bg-primary">-->
                <div class="banner">
                    <div class="banner-text">
                    <h1>ToDo</h1>
                    </div>
                </div>
<!--            </nav>-->

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Create Tasks</h4>
            <form method="POST" class="p-3 shadow">
                {% csrf_token %}
                <div class="form-group">
                    <p>TASK NAME:</p>
                    <input type="text" name="task" class="form-control" placeholder="Enter task name"><br>
                </div>
                <div class="form-group">
                    <p>PRIORITY LEVEL:</p>
                    <input type="text" name="priority" class="form-control" placeholder="Enter priority level"><br>
                </div>
                <div class="form-group">
                    <p>Date:</p>
                    <input type="date" name="date" class="form-control" placeholder="dd-mm-yyyy"><br>
                </div>
                    <button type="submit" class="btn btn-success">Add Task</button>
            </form>

        </div>
        <div class="col-md-6">
            <h4>Tasks to be Completed</h4>
            {% for i in dtask %}

            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p><b>{{i.priority}}</b></p>
                    <p><b>{{i.date}}</b></p>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                    <a class="btn btn-primary" href="{% url 'update' i.id %}">Update</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}