.banner{
    background-color:purple;
    width:100%;
    height:200px;
    margin-bottom:50px;

}
.banner-text {

        position:absolute;
        top:35%;
        left:45%;
        color:white;
        font-family:impact;

}
